body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0992A8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    color: #0992A8;
}

section p {
    max-width: 600px;
    margin: 0 auto 20px auto;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #07788E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#loginForm {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin: 10px 0 5px;
    text-align: left;
}

#loginForm input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0992A8;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}